* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 22px;
}

body{
  min-height: 100vh;
  font-family: sans-serif;
  width: 72%;
  padding-left: 500px;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid aqua;
}

header{
  background-color: aqua;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 0px;
  height: 100px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
} 

footer{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 90px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  margin-top: 10px;
}

.item{
  display: flex;
  gap: 3px;
  background-color:#eee;
  margin-top: 20px;
}


main ul li input{
  height: 50px;
  width: 30px;

}


main ul li label{
  padding-left: 100px;
  padding-top: 6px;
  font-size: 30px;
  flex-grow: 2;
}

.item svg{
  width: 300px;
  color: red;
  outline: none;
  margin-top: 6px;
}

.item svg:hover{
  color:blue;
}


.addForm{
  display: flex;
  margin-bottom: 4rem;
  gap:20px;
}

#addItem{
  height:48px;
  width:440px;
  border-radius: 10px;
  border: 0.7px solid rgb(82, 80, 80);
}

.addForm button{
  height:48px;
  width:58px;
  border-radius: 10px;
  border: 0.7px solid rgb(82, 80, 80);
  cursor: pointer;
}

.addForm button:hover{
  background-color: yellowgreen;
}

.addForm button svg{
  padding-top: 2px;
  font-size: 20px;
  color:black;
}

.addForm input{
  padding-left: 20px;
  font-size: 20px;
}

.searchForm{
  display: flex;
  margin-bottom: 50px;
  margin-top: -40px;
  margin-left: -20px;
}

.searchForm input{
  width:520px;
  height:48px;
  border-radius: 10px;
  border: 0.7px solid rgb(82, 80, 80);
  padding-left: 30px;
  margin-left: 20px;
  font-size: 20px;
}